@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

/* Variables */
:root {
    --main-color: #647bff;
    --body-color: #090a1a;
    --container-color: #171b3c;
    --heading-color: #222231;
    --box-color: #0d0f26;
    --bg-color: #fff;
}

body {
    color: var(--bg-color);
    background: var(--body-color);
}

img {
    width: 100%;
}

section {
    padding: 3rem 0 2rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    /* max-width: 1400px; */
    padding: 1rem 10%;
    margin: auto;
    width: 100%;
}

/* Header */

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header-active {
    background: var(--box-color);
    transition: .4s;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 2.3rem;
    font-weight: 600;
    color: var(--main-color);
}

.navbar {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.nav-link {
    font-size: 1.5rem;
    padding: 4px 8px;
    border: .2rem;
    color: var(--bg-color);
}

.nav-link:hover {
    color: var(--main-color);
    background-color: var(--container-color);
    transition: .25s all linear;
}

/* Menu Icon */
.menu-icon {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: .3s;
}

.menu-icon div {
    display: block;
    background-color: var(--bg-color);
    height: 2px;
    width: 24px;
    transition: .3s;
}

.move .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.move .line2 {
    opacity: 0;
}

.move .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}

/* Home */
.home {
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
}

.home-content {
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #98a7fc;
    overflow: hidden;
    margin-bottom: 2rem;
}

.home-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.home-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-text h2 {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-size: 2.4rem;
    color: var(--main-color);
}

.home-text h2::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    left: -40px;
    width: 60px;
    height: 7px;
    background-color: var(--main-color);
}

.home-text h2::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    right: -100px;
    width: 60px;
    height: 7px;
    background-color: var(--main-color);
}

.home-text h1 {
    font-size: 3.2rem;
    line-height: 4.8rem;
}

.home-text p {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

/* Social */
.social {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.social .bx {
    font-size: 2rem;
    padding: 10px;
    border-radius: 50%;
    color: var(--bg-color);
    background: var(--container-color);
}

.social .bx:hover {
    background: var(--main-color);
    transition: .3s all linear;
}

/* Heading */
.heading {
    font-size: 5rem;
    text-transform: uppercase;
    color: var(--heading-color);
    text-align: center;
    margin-bottom: 2rem;
}

.about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.about-data span {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--main-color);
}

.about-data h2 {
    font-size: 2rem;
    line-height: 2.6rem;
    font-weight: 700;
    margin: 1rem 0;
}

.about-text p {
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-align: justify;
    margin-bottom: 1.5rem;
}

/* Projects */
.project-title {
    font-size: 5rem;
    text-transform: uppercase;
    color: var(--heading-color);
    text-align: center;
    margin-bottom: 2rem;
}

.project-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.portfolio-box {
    position: relative;
    width: 100%;
    height: 320px;
    border-radius: 1rem;
    overflow: hidden;
}

.portfolio-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 0%;
}

.project-overlay {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: hsl(234, 45%, 16%, 0.7);
}

.project-overlay h2 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.project-overlay .bx {
    font-size: 24px;
    padding: 10px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 4px;
}

.project-overlay .bx:hover {
    background: #546eff;
    transition: .3s all linear;
}

.portfolio-box:hover .project-overlay {
    top: 0;
    transition: .3s all ease 0s;
}

/* Contact */
.contact-form {
    max-width: 800px;
    margin: auto;
    width: 100%;
    display: grid;
    row-gap: 1rem;
}

.contact-form input,
.contact-form textarea {
    border: none;
    outline: none;
    font-size: 1.2rem;
    padding: 15px;
    color: var(--bg-color);
    background-color: var(--box-color);
    border-radius: .4rem;
}

.contact-form .send-btn {
    width: 120px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px;
    background: var(--main-color);
    cursor: pointer;
}

.contact-form .send-btn:hover {
    background: #546eff;
    transition: .3s all linear;
}

/* Footer */
footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1.4rem;
    padding: 30px 0;
}

footer p {
    font-size: 1.2rem;
}

/* Scroll Top */
.scroll-top {
    position: fixed;
    bottom: -100%;
    right: 1.5rem;
}

.scroll-top .bx {
    padding: 8px;
    font-size: 1.3rem;
    color: var(--bg-color);
    background: var(--box-color);
    border-radius: .2rem;
    border: 1px solid var(--main-color);
}

.scroll-top .bx:hover {
    color: var(--body-color);
    background: var(--main-color);
    transition: .3s all linear;
}

.scroll-active {
    bottom: 2rem;
    transition: .2s;
}

@media only screen and (max-width: 850px) {
    .navbar {
        column-gap: .5rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .nav-link {
        font-size: 1.3rem;
        display: block;
        margin: 1rem 0;
    }

    .home {
        min-height: 500px;
        padding-top: 6rem;
    }

    .home-text h2 {
        font-size: 1.5rem;
    }

    .home-text h1 {
        font-size: 2rem;
        line-height: 3.8rem;
    }

    .home-text p {
        font-size: 1.2rem;
    }

    .project-content {
        gap: 1rem;
    }

    .about-data h2 {
        font-size: 1.2rem;
    }

    .menu-icon {
        display: flex;
    }

    .navbar {
        position: absolute;
        top: 0;
        right: -100%;
        width: 300px;
        height: 100vh;
        background: var(--box-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 20px;
        transition: .5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .open-menu {
        right: 0;
        transition: .5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}